{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Battle
{% endblock %}
{% block content %}

    <h1> Battle Pokemon !!</h1>

    <h2> {{ striker.name }} vs {{ goal.name }} </h2>
    <h3> {{ fight }}</h3>

    <a href="pokemons.php"><button type="button" class="btn btn-default">Back !</button></a>
{% endblock %}