{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Fail
{% endblock %}
{% block content %}

    <h1> {{ text }}</h1>
    <a href="{{ return }}"> Return to {{ to }}</a>


{% endblock %}